/* .content-bg {
    background-color: #0A192F;
} */
.container {
  max-width: 960px;
  margin: 0 auto;
}
.content-con {
  display: flex;
  justify-content: center;
}
.content-con2 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 3rem;
}
.content-con3 {
  display: flex;
  /* justify-content: center; */
}
.content-con:first-child,
.content-con:last-child {
  padding: 3rem;
}
.content-l img {
  width: 350px;
  border-radius: 5px;
}
.content-r {
  padding-left: 3rem;
  text-align: left;
}
.content-r h4 {
  font-family: "San Francisco", "SF Pro Text", sans-serif;
  color: #53d4ba;
}
.content-r p {
  margin-top: -18px;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 8px;
}
/* .content-r p-2 {
    
} */
/* .about {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.about-con {
  display: flex;
  align-items: center;
  justify-content: center;
}
.text h3 {
  font-family: "San Francisco", "SF Pro Text", sans-serif;
  margin-bottom: 0;
}
.about-con2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.content-l3 {
  align-items: center;
}
.content-l3 img {
  margin-left: 10%;
  width: 500px;
  border-radius: 5px;
}
.content-r3 {
  display: flex;
  /* justify-content: center; */
  position: absolute;
  text-align: left;
  margin-top: 90px;
  left: 45%;
  width: 500px;
  height: 170px;
  border-radius: 5px;
  background-color: #0a192f;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}

.details p {
  padding-left: 30px;
  /* padding-bottom: 5px; */
  color: white;
}
.skills {
  padding-top: 10px;
}
.skills a {
  font-family: "San Francisco", "SF Pro Text", sans-serif;
  font-weight: bold;
}
.skills ul {
  display: flex;
  background-color: #333;
  color: white;
  border-radius: 10px;
  padding: 0;
}

.skills ul li {
  list-style: none;
  font-weight: 500;
  margin: 15px;
}

.tools a {
  font-family: "San Francisco", "SF Pro Text", sans-serif;
  font-weight: bold;
}
.grid {
  display: flex;
}
/* .grid ul li {
  list-style: none;
  
} */
/* .grid ul li::before {
  content: "\27AE";
  color: #53d4ba;
  font-size: 22px;
  font-weight: bold;
  display: inline-block;
  width: 1.5em;
} */

.field a {
  font-family: "San Francisco", "SF Pro Text", sans-serif;
  font-weight: bold;
}
.field ul {
  display: flex;
  padding-left: 10px;
}
.field ul li {
  list-style: none;
  padding-left: 10px;
}
.widecard {
  display: flex;
  width: 300px;
  margin: 20px 30px 30px 0px;
  transition: 0.3s;
  border-radius: 10px;
  padding: 0.5rem;
}
.widecard:hover {
  color: white;
  background-color: #333;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
}
